@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #2563eb;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
    --light-black: #242222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 2rem;
}

.hedercontent {
    margin: auto 0;
    max-width: 1280px;
    display: flex;
    padding-top: 0.1rem;
    justify-content: space-between;
}

.hed {
    display: flex;
    align-items: center;
    padding-left: 8rem;

}

.heding {
    font-size: 2rem;
    font-weight: 600;
    color: #242222;
    font-family: 'Inter', sans-serif;
}

.nav {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
}

.navlink {
    font-size: 1.2rem;
    color: var(--dark-gray);
    font-weight: 600;
    transform: color 0.1s;
}

.navlink:hover {
    color: var(--light-black);
}

.main-section {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 5rem;
    align-items: center;
    margin: 0 auto;
}

.social {
    display: flex;
    margin-top: -5rem;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-right: 2.5rem;


}

.social-medi {
    height: 1.7rem;

}

.leftbox {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5rem;


}

.main-line {
    font-size: 3.2rem;
    font-family: 'Inter', sans-serif;
    color: var(--light-black);
    text-align: start;
}

.developer {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    text-align: start;

}

.descrip {
    max-width: 80%;
    padding-bottom: 1.5rem;
}

.text {
    font-size: 1rem;
    color: var(--dark-gray);
    text-align: start;

}

.rightbox {
    width: 45%;
}

.image {
    height: 23rem;


}

.hello-button {

    border: 1px solid black;
    background-color: var(--light-black);
    height: 2.8rem;
    width: 7.5rem;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.hello-button:hover {
    background-color: black;
}

.sendimg {
    height: 1.3rem;

}
.media{
    display: none;
}

.Scroole{
    display: flex;
    padding-top: 6rem;
   
}
.croll{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.mousee{
    height: 1.3rem;
}
.sroll{
    font-size: 0.9rem;
    color: var(--dark-gray);
}
.sroll:hover{
    color: var(--light-black);
}

@media screen and (max-width:440px) {
    .nav {
        display: none;
    }

    .hed {
        display: none;
    }

}



@media screen and (max-width:440px) {
    .main-section {
        margin-top: -5rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;

    }

    .social {
        display: none;
    }

    .leftbox {
        margin-top: -3.5rem;
        display: flex;
        flex-direction: column;
        width: 140%;
        gap: 0.5rem;

    }

    .main-line {
        font-size: 2.3rem;
        font-family: 'Inter', sans-serif;
        color: var(--light-black);
        text-align: center;
        margin-left: -4.8rem;  
    }

    .developer {
        margin-left: -4.8rem;
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--text-color);
        text-align: center;

    }

    .descrip {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        max-width: 87%;
        border: 1px solid black;
        border-radius: 12px;
        box-shadow: 0.5px 0px 4px 01px black;
        margin-bottom: 0.8rem;
        margin-left: -1.5rem;

    }

    .text {
        font-size: 0.9rem;
        color: var(--dark-gray);
        text-align: center;
        max-width: 95%;
        margin-left: -1.9rem;
        margin-right: -1.9rem;

    }

    .hii {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .hello-button {

        border: 1px solid black;
        background-color: var(--light-black);
        height: 2.8rem;
        margin-left: -2rem;
        width: 7.2rem;
        border-radius: 10px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
    }

    .hello-button:hover {
        background-color: black;
    }

    .media {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem; 
        padding-top: 0.7rem;
        margin-left: 1.8rem;

    }
    .insta{
        height: 1.7rem;
    }

    .rightbox{
      margin-left: -14.5rem;
    }
    .image{
        height: 15rem;
    }


    .Scroole{
        display: none;
    }




}